:root
{
    /* Colors */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --shadow-color: rgba(89, 73, 30, 0.16);

    /* Font sizes */
    --sm:1.2rem;
    --md:1.4rem;
    --lg:1.6rem;
    --h2-size:1.8rem;
    --h1-size:2.4rem;
}
/*
Orden para agregar cada regla de css

1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    padding: 0 16px;
    background: linear-gradient(207.8deg, var(--warm-black) 16%, var(--bitcoin-orange) 100%);
}
header .logo
{
    width: 150px;
    height: 24px;
    margin: 36px 0 12px;
}
header .logo img
{
    width: 100%;
    height: 100%;
}
header .title-container
{
    position: relative;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
}
header .title-container h1
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--just-white);
}
header .title-container p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 32px;
    color: var(--soft-orange);
}
header .title-container .header-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 16px;
    border-radius: 4px;
    font-size: var(--md);
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0 4px 8px var(--shadow-color);
}
.title-container .header-button span
{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.title-container .header-button span img
{
    width: 100%;
}