:root
{
    /* Colors */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --shadow-color: rgba(89, 73, 30, 0.16);
    --font-color: #757575;

    /* Font sizes */
    --sm:1.2rem;
    --md:1.4rem;
    --lg:1.6rem;
    --h2-size:1.8rem;
    --h1-size:2.4rem;
}
/*
Orden para agregar cada regla de css

1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    padding: 0 16px;
    background: linear-gradient(207.8deg, var(--warm-black) 16%, var(--bitcoin-orange) 100%);
}
header .logo
{
    width: 150px;
    height: 24px;
    margin: 36px 0 12px;
}
header .logo img
{
    width: 100%;
    height: 100%;
}
header .title-container
{
    position: relative;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
}
header .title-container h1
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--just-white);
}
header .title-container p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 32px;
    color: var(--soft-orange);
}
header .title-container .header-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 16px;
    border-radius: 4px;
    font-size: var(--md);
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0 4px 8px var(--shadow-color);
}
.title-container .header-button span
{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.title-container .header-button span img
{
    width: 100%;
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    padding-top: 20px;
    background-color: var(--off-white);
}
main .exchange-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 28px 16px 0;   
}
main .exchange-container .background
{
    width: 195px;
    height: 195px;
    background: url('../assets/images/bitcoin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 40px;
}
main .exchange-container .exchange-container-title
{
    text-align: center;
}
.exchange-container .exchange-container-title h2
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--warm-black);
}
.exchange-container .exchange-container-title p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 48px;
    color: var(--font-color);
}
main .currency-table, 
main .commissions-table
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 225px;
    max-width: 500px;
}
main .currency-table .currency-table--title,
main .commissions-table .commissions-table--title
{
    align-self: flex-start;
    font-size: var(--h2-size);
    font-weight: 700;
    color: #FF9536;
    margin-bottom: 12px;
    padding-left: 24px;
}
main .commissions-table .commissions-table--title
{
    color: var(--secondary-blue);
}
main .currency-table .currency-table-container,
main .commissions-table .commissions-table-container
{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(4, 40px);
}
main .currency-table-container .currency-table-item:first-child,
main .commissions-table-container .commissions-table-item:first-child
{
    border-radius: 8px 0 0 0;
}
main .currency-table-container .currency-table-item:nth-child(2),
main .commissions-table-container .commissions-table-item:nth-child(2)
{
    border-radius: 0 8px 0 0;
}
main .currency-table-container .currency-table-item:nth-child(7),
main .commissions-table-container .commissions-table-item:nth-child(7)
{
    border-radius: 0 0 0 8px;
}
main .currency-table-container .currency-table-item:last-child,
main .commissions-table-container .commissions-table-item:last-child
{
    border-radius: 0 0 8px 0;
}
main .currency-table-container .currency-table-item,
main .commissions-table-container .commissions-table-item
{
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-size: var(--lg);
    font-weight: 500;
    text-justify: center;
    border: 1px solid var(--off-white);
    color: #B5B0AC;
    background-color: var(--just-white);
}
main .currency-table-container .currency-table-item.right-column,
main .commissions-table-container .commissions-table-item.right-column
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: var(--md);
    font-weight: 400;
    color: var(--font-color);
}
main .currency-table-item.right-column span
{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../assets/icons/trending-down-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
main .currency-table-item:nth-child(4) span
{
    background: url('../assets/icons/trending-up-icon.svg');
}

main .currency-table .currency-table--date,
main .commissions-table .commissions-table--date
{
    height: 32px;
    width: fit-content;
    padding: 8px;
    margin: 16px auto;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: var(--sm);
    background-color: var(--soft-orange);
    color: var(--black);
}
main .commissions-table .commissions-table--date
{
    background-color: var(--soft-blue);
}
main .exchange-container .section-logo
{
    position: relative;
    bottom: -16px;
}

main .description-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 64px 16px 0;
    background-color: var(--warm-black);
}
main .description-container .description-container-title
{
    text-align: center;
}
main .description-container-title h2
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--just-white);
}
main .description-container-title p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 32px;
    color: var(--grey);
}
main .description-container .cards-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 48px;
}
main .description-container .card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 288px;
    height: 152px;
    padding: 16px 16px 20px;
    border-radius: 4px;
    text-overflow: hidden;
    background-color: var(--black);
    box-shadow: 0 4px 12px black;
}
.description-container .card .card-icon
{
    width: 20px;
    height: 20px;
}
.description-container .card .card-icon img
{
    width: 100%;
}
.description-container .card .card-title
{
    font-size: var(--h2-size);
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--just-white);
}
.description-container .card .card-info
{
    font-size: var(--md);
    font-weight: 500;
    color: var(--grey);
}

main .image-container
{
    width: 100%;
    max-width: 432px;
    height: 387px;
    text-align: center;
    background-image: url('../assets/images/bitcoinbaby.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .image-container h2
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-top: 64px;
    color: var(--just-white);
}

main .plans-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 64px 0;   
}

main .plans-container .plans-container-title
{
    width: 100%;
    padding: 0 16px;
    text-align: center;
}
main .plans-container-title h2
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--warm-black);
}
main .plans-container-title p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 36px;
    color: var(--font-color);
}
.plans-container .cards-container
{
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}
.plans-container .cards-container .card
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 248px;
    padding: 0 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--just-white);
}
.plans-container .cards-container .card .card-title
{
    position: absolute;
    top: -15px;
    height: 30px;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}
.plans-container .cards-container .card.monthly .card-title
{
    background-color: var(--secondary-blue);
}
.plans-container .cards-container .card .card-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px 0 16px;
}
.plans-container .cards-container .card .card-info p:first-child
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 12px;
}
.plans-container .cards-container .card .card-info .card-price
{
    display: flex;
    height: 52px;
    gap: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.plans-container .cards-container .card .card-info .card-price span
{
    display: inline-block;
    font-size: var(--sm);
    color: #363636;
    margin-top: 10px;
}
.plans-container .cards-container .card .card-info p:last-child
{
    font-family: 'Inter', sans-serif;
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--font-color);
}
.plans-container .cards-container .card .card-button
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
    height: 48px;
    padding: 0 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: var(--md);
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
}
.plans-container .cards-container .card.monthly .card-button
{
    border: 2px solid var(--secondary-blue);
}
.plans-container .cards-container .card .card-button span
{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../assets/icons/arrow-right-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plans-container .cards-container .card.monthly .card-button span
{
    background: url('../assets/icons/arrow-right-icon2.svg');
}

footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    padding: 20px 40px;
    background-color: var(--bitcoin-orange);
}
footer .footer-links
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    width: 30%;
    min-width: 100px;
    list-style: none;
}
footer .footer-links li a
{
    font-size: var(--md);
    font-weight: 500;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--just-white);    
}
footer .footer-logo-container
{
    width: 64px;
    height: 52px;
    background: url('../assets/images/batatabit-logo2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}