:root
{
    /* Colors */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --shadow-color: rgba(89, 73, 30, 0.16);
    --font-color: #757575;

    /* Font sizes */
    --sm:1.2rem;
    --md:1.4rem;
    --lg:1.6rem;
    --h2-size:1.8rem;
    --h1-size:2.4rem;
}
/*
Orden para agregar cada regla de css

1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    padding: 0 16px;
    background: linear-gradient(207.8deg, var(--warm-black) 16%, var(--bitcoin-orange) 100%);
}
header .logo
{
    width: 150px;
    height: 24px;
    margin: 36px 0 12px;
}
header .logo img
{
    width: 100%;
    height: 100%;
}
header .title-container
{
    position: relative;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
}
header .title-container h1
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--just-white);
}
header .title-container p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 32px;
    color: var(--soft-orange);
}
header .title-container .header-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 16px;
    border-radius: 4px;
    font-size: var(--md);
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0 4px 8px var(--shadow-color);
}
.title-container .header-button span
{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.title-container .header-button span img
{
    width: 100%;
}
main
{
    width: 100%;
    min-width: 320px;
    padding-top: 20px;
    background-color: var(--off-white);
}
main .exchange-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 28px 16px 0;   
}
main .exchange-container .background
{
    width: 195px;
    height: 195px;
    background: url('../assets/images/bitcoin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 40px;
}
main .exchange-container .exchange-container-title
{
    text-align: center;
}
.exchange-container .exchange-container-title h2
{
    font-size: var(--h1-size);
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--warm-black);
}
.exchange-container .exchange-container-title p
{
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 48px;
    color: var(--font-color);
}
main .currency-table, 
main .commissions-table
{
    width: 70%;
    min-width: 225px;
    max-width: 500px;
}
main .currency-table .currency-table--title,
main .commissions-table .commissions-table--title
{
    font-size: var(--h2-size);
    font-weight: 700;
    color: #FF9536;
    margin-bottom: 12px;
    padding-left: 12px;
}
main .commissions-table .commissions-table--title
{
    color: var(--secondary-blue);
}
main .currency-table .currency-table-container tr,
main .commissions-table .commissions-table-container tr
{
    height: 40px;
    border: 1px solid var(--off-white);
    font-family: 'Inter', sans-serif;
    font-size: var(--lg);
    font-weight: 500;
    color: #B5B0AC;
    background-color: var(--just-white);
}
main .currency-table .currency-table-container tr td,
main .commissions-table .commissions-table-container tr td
{
    width: 100px;
    padding: 0 12px;
}
main .currency-table .currency-table-container .table-right-column,
main .commissions-table .commissions-table-container .table-right-column
{
    font-size: var(--md);
    font-weight: 400;
    color: var(--font-color);
}
main .currency-table .currency-table-container .table-right-column span
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    background: url('../assets/icons/trending-down-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
main .currency-table .currency-table-container tr:nth-child(2) .table-right-column span
{
    background: url('../assets/icons/trending-up-icon.svg');
}
main .table-top-left
{
    border-radius: 4px 0 0 0;
}
main .table-top-right
{
    border-radius: 0 4px 0 0;
}
main .table-bottom-right
{
    border-radius: 0 0 4px 0;
}
main .table-bottom-left
{
    border-radius: 0 0 0 4px;
}
main .currency-table .currency-table--date,
main .commissions-table .commissions-table--date
{
    height: 32px;
    width: fit-content;
    padding: 8px;
    margin: 16px auto;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: var(--sm);
    background-color: var(--soft-orange);
}
main .commissions-table .commissions-table--date
{
    background-color: var(--soft-blue);
}